include/
lib/

*.o
*.so*

Makefile*
.qmake.cache

moc_*.cpp
*.moc
ui_*.h

*~

# examples
asynctracker
iteration
simple
contacts
dbpedia
querymodel

# tests
tests/auto/qsparql/tst_qsparql
tests/auto/qsparqlquery/tst_qsparqlquery

# debian packaging
debian/build-stamp
debian/*.log
debian/digsigsums
debian/md5sums
debian/*.substvars
debian/tmp
debian/files
debian/*.postinst.debhelper
debian/*.postrm.debhelper
debian/substvars
debian/libqtsparql-dev
debian/libqtsparql-doc
debian/libqtsparql0
debian/libqtsparql0-dbg
debian/libqtsparql-tests
debian/libqtsparql-tracker
debian/libqtsparql-endpoint
debian/libqtsparql-virtuoso

# configure-time tests
config.tests/unix/odbc/odbc
config.tests/unix/iodbc/iodbc

# docs
doc/html/*