include/
lib/

*.o
*.so*

Makefile*
.qmake.cache
config.tests/unix/tracker-sparql/tracker-sparql

moc_*.cpp
*.moc
ui_*.h

*~

# generated prf file
mkspecs/features/qtsparql.prf

# examples
asynctracker
iteration
simple
contacts
dbpedia
querymodel
qmlquerymodel

# tests
tests/auto/qsparql/tst_qsparql
tests/auto/qsparqlquery/tst_qsparqlquery
tests/auto/qsparqlbinding/tst_qsparqlbinding
tests/auto/qsparql_tracker/tst_qsparql_tracker
tests/auto/qsparql_endpoint/tst_qsparql_endpoint
tests/auto/qsparql_virtuoso/tst_qsparql_virtuoso
tests/auto/qsparql_virtuoso_endpoint/tst_qsparql_virtuoso_endpoint
tests/auto/qsparql_tracker_direct/tst_qsparql_tracker_direct
tests/auto/qsparql_tracker_direct_sync/tst_qsparql_tracker_direct_sync
tests/auto/qsparql_tracker_signals/tst_qsparql_tracker_signals
tests/auto/qsparql_endpoint_threading/tst_qsparql_endpoint_threading
tests/auto/qsparql_threading/tst_qsparql_threading
tests/auto/qsparql_ntriples/tst_qsparql_ntriples
tests/auto/qsparql_benchmark/tst_qsparql_benchmark

# debian packaging
debian/build-stamp
debian/*.log
debian/digsigsums
debian/md5sums
debian/*.substvars
debian/tmp
debian/files
debian/*.postinst.debhelper
debian/*.postrm.debhelper
debian/substvars
debian/libqtsparql-dev
debian/libqtsparql-doc
debian/libqtsparql0
debian/libqtsparql0-dbg
debian/libqtsparql-tests
debian/libqtsparql-tracker
debian/libqtsparql-tracker-dbg
debian/libqtsparql-endpoint
debian/libqtsparql-endpoint-dbg
debian/libqtsparql-virtuoso
debian/libqtsparql-tracker-direct
debian/libqtsparql-tracker-direct-dbg

# configure-time tests
config.tests/unix/odbc/odbc
config.tests/unix/iodbc/iodbc

# docs
doc/html/*

# code coverage
*.cov
src/sparql/coverage/*
*.gcda
*.gcno
