Source: libqtsparql
Section: libs
Priority: optional
Maintainer: James Thomas <james.thomas@codethink.co.uk>
Build-Depends: debhelper (>= 5),
	       quilt,
               libqt4-dev (>= 4.7),
               doxygen,
               libtracker-sparql-dev,
               aegis-builder (>= 1.4)
Standards-Version: 3.9.1

Package: libqtsparql0
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Library for accessing RDF stores.

Package: libqtsparql0-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libqtsparql0 (= ${binary:Version}),
         ${misc:Depends}
Description: Library for accessing RDF stores.
 .
 This package contains the debug symbols.

Package: libqtsparql-dev
Section: libdevel
Architecture: any
Depends: libqtsparql0 (= ${binary:Version}),
         libqt4-dev (>= 4.7),
         ${misc:Depends}
Description: Library for accessing RDF stores.

Package: libqtsparql-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Description: Library for accessing RDF stores.
 .
 This package contains the documentation.

Package: libqtsparql-tests
Section: devel
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libqtsparql0 (>= ${binary:Version}),
         libqtsparql-tracker (>= ${binary:Version}),
         libqtsparql-tracker-direct (>= ${binary:Version}),
         libqtsparql-endpoint (>= ${binary:Version}),
         ci-testing
XB-Maemo-CI-Packages: libqtsparql0, libqtsparql-tracker, libqtsparql-tracker-direct, libqtsparql-endpoint
XB-Maemo-CI-Stage: staging, acceptance
Description: Tests for libqtsparql.

Package: libqtsparql-tests-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libqtsparql-tests (= ${binary:Version}),
         ${misc:Depends}
Description: Tests for libqtsparql.
 .
 This package contains the debug symbols.

Package: libqtsparql-endpoint
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Endpoint driver for QtSparql.

Package: libqtsparql-endpoint-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libqtsparql-endpoint (= ${binary:Version}),
         ${misc:Depends}
Description: Endpoint driver for QtSparql.
 .
 This package contains the debug symbols.

Package: libqtsparql-tracker
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Tracker driver for QtSparql.

Package: libqtsparql-tracker-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libqtsparql-tracker (= ${binary:Version}),
         ${misc:Depends}
Description: Tracker driver for QtSparql.
 .
 This package contains the debug symbols.

Package: libqtsparql-tracker-direct
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: Tracker direct access driver for QtSparql.

Package: libqtsparql-tracker-direct-dbg
Section: debug
Priority: extra
Architecture: any
Depends: libqtsparql-tracker-direct (= ${binary:Version}),
         ${misc:Depends}
Description: Tracker direct access driver for QtSparql.
 .
 This package contains the debug symbols.

