#!/usr/bin/make -f
# -*- makefile-mode -*-

#export DH_VERBOSE=1

Makefile:
	./configure
	qmake PREFIX=/usr

build: debian/build-stamp
debian/build-stamp: Makefile
	dh_testdir
	$(MAKE)
	$(MAKE) doc
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f debian/build-stamp
	[ -f Makefile ] && $(MAKE) xclean && $(MAKE) distclean || true
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) INSTALL_ROOT=`pwd`/debian/tmp/ install

	# copying docs
	mkdir -p `pwd`/debian/tmp/usr/share/doc/libqtsparql-doc
	rm -rf `pwd`/debian/tmp/usr/share/doc/libqtsparql-doc/html
	cp -a doc/html `pwd`/debian/tmp/usr/share/doc/libqtsparql-doc

	# copying headers from include/ (created by syncqt)
	cp -a include/QtSparql/Q* `pwd`/debian/tmp/usr/include/QtSparql

	# copy the tests definition and data from the src dir
	cp -a tests/auto/tests.xml `pwd`/debian/tmp/usr/share/qsparql-tests
	cp -a tests/auto/qsparql_tracker/testdata.ttl `pwd`/debian/tmp/usr/share/qsparql-tests
	cp -a tests/auto/qsparql_tracker/clean_data.query `pwd`/debian/tmp/usr/share/qsparql-tests

	dh_install --sourcedir=`pwd`/debian/tmp/

binary-indep: build install
	dh_testdir -i
	dh_testroot -i
	dh_installchangelogs -i
	dh_installdocs -i
	dh_link -i
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

binary-arch: build install
	dh_testdir -a
	dh_testroot -a
	dh_installchangelogs -a
	dh_installdocs -a
	dh_strip -p libqtsparql0 --dbg-package="libqtsparql0-dbg"
	dh_strip -p libqtsparql-endpoint --dbg-package="libqtsparql-endpoint-dbg"
	dh_strip -p libqtsparql-tracker --dbg-package="libqtsparql-tracker-dbg"
	dh_link -a
	dh_compress -a
	dh_fixperms -a
	dh_makeshlibs -a -V
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
